@inherits LayoutComponentBase

<PageTitle>Palace Server</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            <AuthorizeView Roles="admin">
                <Authorized>
                    @Body
                </Authorized>
                <NotAuthorized>
                    <PalaceServer.Pages.Login/>
                </NotAuthorized>
            </AuthorizeView>
        </article>
    </main>
</div>
