@page "/palace/configuration/{palaceName}"

<h3>EditPalace @PalaceInfo.HostName</h3>

<EditForm Model="PalaceInfo" OnValidSubmit="Validate">
    <InputTextArea @bind-Value="PalaceInfo.RawJsonConfiguration" class="form-control" rows="20">

    </InputTextArea>
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>