@page "/palace/configuration/{palaceName}"

<h3>EditPalace @PalaceInfo.HostName</h3>

<EditForm Model="Configuration" OnValidSubmit="Validate">
    <ValidationSummary></ValidationSummary>
    <DataAnnotationsValidator/>
    <CustomValidator @ref="CustomValidator"></CustomValidator>
    <InputTextArea @bind-Value="Configuration" class="form-control" rows="20">

    </InputTextArea>
    <small>
            <ValidationMessage For="() => Configuration"/>
    </small>
    <br/>
    <button type="submit" class="btn btn-primary">Save</button>
</EditForm>